body {

}

div {

	border: 1px solid rgb(0, 0, 0);
	max-width: 35%;
	min-width: 35%;
	margin: auto;
	padding : 2% 8%;
	background-color: rgb(256, 256, 256) ; 
	border-radius: 8px;
}

html { 
  background: url(../Images/image2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}